*,*::after,*::before{
  box-sizing: border-box;
  font-family: Verdana;
  font-weight: 400;
}
body{
margin: 0;
padding: 0;
width: 100%;
background-color: #F3F3F3;
height: 505vh;
}
.imagen{
  position:sticky;
  top:0px;
  width: 100%;
  height: 100vh;
  display: inline-block;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin: 0px;
  padding: 0px;
}
.imagen1{
  background-image: url("./imagen1.jpg");
  z-index: 1;
}
.imagen2{
  background-image: url("./imagen2.jpg");
  z-index: 2;
}
.imagen3{
  background-image: url("./imagen3.jpg");
  z-index: 3;
}
.imagen4{
  background-image: url("./imagen4.jpg");
  z-index: 4;
}
.imagen5{
  background-image: url("./imagen5.jpg");
  z-index: 5;
}